[submodule "deps/glfw"]
	path = deps/glfw
	url = git@github.com:mcleary/glfw.git
[submodule "deps/glm"]
	path = deps/glm
	url = git@github.com:mcleary/glm.git
[submodule "deps/stb"]
	path = deps/stb
	url = git@github.com:mcleary/stb.git