[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "deps/glbinding"]
	path = deps/glbinding
	url = git@github.com:mcleary/glbinding.git
[submodule "deps/stb"]
	path = deps/stb
	url = git@github.com:mcleary/stb.git
